# Ignore the model cache directory
stim_prep/models/*
stm_prep/scripts_nb/04_Visualise_Embeddings.ipynb
stim_prep/scripts_py/visualize.ipynb

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IPython notebook checkpoints
.ipynb_checkpoints/
