# Ignore the model cache directory
00_stim_prep/models/*
00_stm_prep/scripts_nb/04_Visualise_Embeddings.ipynb
00_stim_prep/scripts_py/visualize.ipynb

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IPython notebook checkpoints
.ipynb_checkpoints/
